{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Member</title>{% endblock title%}
{% block content %}
{% include 'navbar.html' %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <br>
                {% for i in room_messages %}
                <h2 class="heading-section">Hello, {{i.Name}}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>Account No.</th>
                          <th>Name</th>
                          <th>Phone</th>
                          <th>Address</th>
                          <th>Aadhar</th>
                          <th>Pan no.</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">
                        {% for message in room_messages %}
                        <td>{{message.Membership_number}}</td>
                          <td>{{message.Name}}</td>
                          <td>{{message.phone_number}}</td>
                          <td>{{message.Address}}</td>
                          <td>{{message.Aadhar}}</td>
                          <td>{{message.Pan}}</td>
                          
                          {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'editUser' %}" class="button" style="color:black;" id="button">UPDATE YOUR DETAILS</a>
        </div>
    </div>
</section> 
<br>

<style>
    * {
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    
    .heading {
        display: flex;
        background-color: black;
        box-shadow: 0px 1px 2px black;
    }
    h1 {
        color: coral;
        font-weight: bold;
        
        background: transparent;
        padding: 7px;
        
    }
    
    
    .outer-wrapper {
        margin: 10px;
        margin-left: 70px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
        max-width: fit-content;
        max-height: fit-content;
    
        
    }
    .table-wrapper {
    
        overflow-y: scroll;
        overflow-x: scroll;
        height: fit-content;
        max-height: 66.4vh;
        
        margin-top: 22px;
        
        margin: 15px;
        padding-bottom: 20px;
        
    }
    
    
    table {
        
        min-width: max-content;
        
        border-collapse: separate;
        border-spacing: 0px;    
        
    }
    
    
    
    table th{
        position: sticky; 
        top: 0px;
        
        background-color: black;
        color: rgb(255, 255, 255);
        
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        outline: 0.7px solid black;
        border: 1.5px solid black;
    
    } 
    
    
    
    table th, table td {
        
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    
    table td {
        text-align: left;
        
        font-size: 15px;
        border: 1px solid rgb(177, 177, 177);
        padding-left: 20px;
        
    }
    

</style>

<div class="outer-wrapper">
    <div class="table-wrapper">
    <table>
        <thead>

            {% comment %} <th>Account No.</th> {% endcomment %}
            {% comment %} <th>Phone</th> {% endcomment %}
            {% comment %} <th>SM(Dr)</th> {% endcomment %}
            <th>Date</th>
            <th>Share Money</th>
            <th>Late Charge</th>
            <th>Balance</th>
            <th>Loan</th>
            <th>Loan Installment</th>
            <th>Loan Interest</th>
            <th>Late Loan Charge</th>
            <th>Loan Balance</th>

        </thead>
        <tbody>
                        
            {% for room in rooms %}
            <tr>
            {% comment %} <tr> {% endcomment %}
           
                <td>{{room.Month}}</td>
                <td>{{room.Share_Money}}</td>
                <td>{{room.Late_Charge}}</td>
                <td>{{room.Balance}}</td>
                <td>{{room.Loan}}</td>
                <td>{{room.Loan_Installment}}</td>
                <td>{{room.Loan_Interest}}</td>
                <td>{{room.Late_Loan_Charge}}</td>
                <td>{{room.Loan_Balance}}</td>
                
               
            </tr>
            {% endfor %}

        </tbody>
    </table>
    
</div>

</div>

<br>
<div class="outer-wrapper">
    <a href="{% url 'memberForm' %}" class="button" id="button">button</a>
</div> 
<style>
    @import url('https://fonts.googleapis.com/css?family=Rubik:500');

.button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #FC6E51;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken(#FC6E51,7%);
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}
</style>




{% include 'footer.html' %}


{% endblock %}