{% extends 'main.html' %}
{% load static %}
{% block title %}<title> Gallery </title> {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<!DOCTYPE html>
<html>
<br>
<head>
    <br>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .polaroid {
            width: 80%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 25px;
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 50%;
            display: flex;
        }

        .container {
            padding: 10px 20px;
        }

        .polaroid img {
            max-width: 100%; 
            height: auto;
            height: auto;
        }

    </style>
</head>
<body>
    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(1).png' %}" alt="Image 1">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(2).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(3).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(4).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(5).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(6).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(7).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(8).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(9).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(10).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(11).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(12).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(13).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(14).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(15).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2023(1).png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2023</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022    </p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali1.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali2.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali3.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali4.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali5.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>

    <div class="polaroid">
        <img src="{% static 'diwali/diwali6.png' %}" alt="Image 2">
        <div class="container">
            <p>Diwali Milan Samaroh 2022</p>
        </div>
    </div>
</body>
</html>


{% include 'footer.html' %}
{% endblock content %}